<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519690218491-9kdnupmr4ol795q1m86em12rg4iamc4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519690218491-9kdnupmr4ol795q1m86em12rg4iamc4v</string>
	<key>API_KEY</key>
	<string>AIzaSyBU8Zlu8ExIBUtJhIR9uokrMxXyGebiW64</string>
	<key>GCM_SENDER_ID</key>
	<string>519690218491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>work.tkgstrator.salmonia3</string>
	<key>PROJECT_ID</key>
	<string>salmonia3</string>
	<key>STORAGE_BUCKET</key>
	<string>salmonia3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519690218491:ios:e207ec1aa951074a74795e</string>
</dict>
</plist>